<!-- views/pages/index.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Head with metadata and stylesheet link -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home | My Express Postgres database course lab</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="index container">
      <!-- Header partial (includes navigation) -->
      <%- include('../partials/header', { currentPath }) %>
      <main>
        <!-- Course page content -->
        <h2>Course listnings</h2>
        <!-- Flash message (success or error) -->
        <a href="/form" class="btn new">Add new course</a>
        <!-- Optional flash message (success or error) -->
        <%- include('../partials/messages') %>
        <table>
          <thead>
            <tr>
              <th class="th-code" data-short="Code">Course Code</th>
              <th class="th-name" data-short="Name">Course Name</th>
              <th class="th-prog" data-short="Prog.">Progression</th>
            </tr>
          </thead>
          <tbody>
            <% courses.forEach((course) => { %>
            <tr>
              <td><%= course.coursecode %></td>
              <td>
                <a
                  class="coursename-link"
                  href="https://www.miun.se/utbildning/kursplaner-och-utbildningsplaner/<%= course.coursecode %>/"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <%= course.coursename %>
                </a>
              </td>
              <td><%= course.progression %></td>
              <td>
                <form
                  action="/form/<%= course.id %>"
                  method="GET"
                  style="display: inline"
                >
                  <button type="submit" class="btn edit">Edit</button>
                </form>

                <form
                  action="/delete/<%= course.id %>"
                  method="POST"
                  class="delete-form"
                  data-course="<%= course.coursename %>"
                  style="display: inline"
                >
                  <button type="submit" class="btn delete">Delete</button>
                </form>
              </td>
            </tr>
            <% }); %>
          </tbody>
        </table>
      </main>
      <!-- Footer partial -->
      <%- include('../partials/footer') %>
    </div>
    <script src="/js/main.js" defer></script>
  </body>
</html>
